#ch0 {
  font-size: 24px;
}

#ch1 {
  font-size: 24px;
}

#ch2 {
  font-size: 24px;
}

#ch3 {
  font-size: 24px;
}

#ch4 {
  font-size: 24px;
}

#ch5 {
  font-size: 24px;
}

#ch6 { /* End of Welcome first row */
  font-size: 24px;
}

#ch7 {
  font-size: 24px;
}

#ch8 {
  font-size: 24px;
}

#ch9 {
  font-size: 24px;
}

#ch10 { /* End of Welcome second row */
  font-size: 24px;
}

#ch11 {
  font-size: 24px;
}

#ch12 {
  font-size: 24px;
}

#ch13 {
  font-size: 24px;
}

#ch14 { /* End of welcome third row */
  font-size: 24px;
}

#ch15 {
  font-size: 24px;
}

#ch16 {
  font-size: 24px;
}

#ch17 {
  font-size: 24px;
}

#ch18 {
  font-size: 24px;
}

#ch19 {
  font-size: 24px;
}

#ch20 {
  font-size: 24px;
}

#ch21 {
  font-size: 24px;
}

#ch22 {
  font-size: 24px;
}

#ch23 {
  font-size: 24px;
}

#ch24 {
  font-size: 24px;
}

#ch25 { /*End of welcome last row */
  font-size: 24px;
}

#ch26 {
  font-size: 24px;
}

#ch27 {
  font-size: 24px;
}