#intro-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: -webkit-fill-available;
  overflow: hidden;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 17%;
  top: 20%;
  width: 65%;
  height: 40%;
  align-items: center;
  justify-content: center;
}

.welcome-left {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  left: -15%;
  top: 12%;
}

.welcome-right {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 77.5%;
  top: 109%;
}

.about-container {
  height: 55px;
  width: 50%;
  transform: rotate(90deg);
  display: flex;
  flex-direction: column;
  position: relative;
  top: 26.5em;
  right: 22%;
  align-items: center;
  letter-spacing: 0.8em;
  justify-content: center;
}

.about:hover {
  letter-spacing: 5em;
  margin-block-start: 0;
  margin-block-end: 0;
}

.about {
  display: flex;
  flex-direction: column;
  position: absolute;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.projects-container {
  height: 55px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 90%;
  right: 0;
  align-items: center;
  letter-spacing: 0.8em;
  justify-content: center;
}

.projects:hover {
  letter-spacing: 6em;
  margin-block-start: 0;
  margin-block-end: 0;
}

.projects {
  display: flex;
  flex-direction: column;
  position: absolute;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.contact-container {
  height: 55px;
  width: 60%;
  transform: rotate(270deg);
  display: flex;
  flex-direction: column;
  position: relative;
  top: 22.5em;
  left:67%;
  align-items: center;
  letter-spacing: 0.8em;
  justify-content: center;
}

.contact:hover {
  letter-spacing: 5em;
  margin-block-start: 0;
  margin-block-end: 0;
}

.contact {
  display: flex;
  flex-direction: column;
  position: absolute;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.cv-container {
  height: 55px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -5em;
  right: -1em;
  align-items: center;
  letter-spacing: 0.8em;
  justify-content: center;
}

.cv:hover {
  letter-spacing: 3.5em;
  margin-block-start: 0;
  margin-block-end: 0;
}

.cv {
  display: flex;
  flex-direction: column;
  position: absolute;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.second-line {
  margin: 20px 0;
  align-items: center;
  display: flex;
  width: 40%;
  justify-content: center;
}

.third-line {
  align-items: center;
  display: flex;
  width: 20%;
  justify-content: center;
  margin: 10px 0;
}

.fourth-line {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  width: 48%;
}

.fifth-line {
  width: 63%;
  justify-content: center;
  display: flex;
}

.second-line-right {
  margin: 10px 0;
}

.fourth-line-right {
  margin: 10px 0;
}

.fifth-line-right {
  margin-bottom: 10px;
}

svg {
  width: 200px;
  height: 200px;
}