body {
  margin: 0;
  font-family: slkscr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #100e17;
  color: white;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'slkscr';
  src: local('slkscr-normal'), url(./fonts/slkscr-normal.woff) format('woff');
}

@font-face {
  font-family: 'slkscrb';
  src: local('slkscrb'), url(./fonts/slkscrb-bold.woff) format('woff');
}

[data-aos] {
  @for $i from 1 through 150 {
    body[data-aos-duration='#{$i * 50}'] &,
    &[data-aos][data-aos-duration='#{$i * 50}'] {
      transition-duration: #{$i % 50}ms;
    }

    body[data-aos-delay='#{$i * 50}'] &,
    &[data-aos][data-aos-delay='#{$i * 50}'] {
      transition-delay: 0;

      &.aos-animate {
        transition-delay: #{$i * 50}ms;
      }
    }
  }
}